<a href="https://colab.research.google.com/github/Rakib-Ul-Haque/Differential_Privacy/blob/main/Differential_privacy_BCWD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **BCWD data with classic Laplace**

In [1]:
# Library Declaration  
import numpy as np
import pandas as pd 
# Data Input
df = pd.read_table('breast-cancer-wisconsin.data', sep=',', names=["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size","Bare Nuclei", "Bland Chromatin", "Normal Nucleoli","Mitoses","Class"]) 
# print(df.head)

In [2]:
# Data Cleaning
df["Bare Nuclei"][df["Bare Nuclei"]=='?']='0'
df["Bare Nuclei"] = df["Bare Nuclei"].astype(str).astype(int)
# df.info()
# pd.to_numeric(df["Bare Nuclei"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
# Data Cleaning
df=df.drop(["Sample code number"], axis = 1)
print(df.shape)

(699, 10)

In [4]:
# Data Cleaning
def Class_value(Class): 
     if Class == 2: 
         return 1
     else: 
         return 0
  
df['Class'] = df['Class'].apply(Class_value) 
#df['Class'].head(10)

In [5]:
sf=df
y = sf["Class"].astype(float).values.tolist()
# y

In [6]:
df=df.drop(["Class"], axis = 1)

In [7]:
# dataset = df.astype(float).values.tolist()
# dataset

In [8]:
# df["Clump Thickness"].head()

In [9]:
# df["Clump Thickness"].min()
# df["Clump Thickness"].max()
# len(df["Clump Thickness"])

In [10]:
import math

In [11]:
# ep=1
# def Lap(x,b):
#   # print(x)
#   # print("bget",b)
#   temp=(math.exp(-(abs(x)*b)))*(b/2)
#   # print("noice: ",temp)
#   return temp


# for i in df["Clump Thickness"]:
#   noice=Lap((df["Clump Thickness"].max()-df["Clump Thickness"].min()),(ep))
#   # noice=Lap((i),(ep))
#   # data=i+noice
#   print(noice)

In [12]:
# sss=0.0027772491345605765
# ssss=6.170490204333978e-05
# if sss>ssss:
#   print("sss:",sss)
# else:
#   print("ssss:",ssss)
# abs(-1.4)
# math.exp(-((62910-4.5)/0.5))

In [13]:
# df["Clump Thickness"].mean()

In [14]:
# datacount = df["Clump Thickness"].value_counts()
# datacount = df["Clump Thickness"].value_counts()

In [15]:
import math
data1=df["Clump Thickness"].unique()
data2=df["Uniformity of Cell Size"].unique()
data3=df["Uniformity of Cell Shape"].unique()
data4=df["Marginal Adhesion"].unique()
data5=df["Single Epithelial Cell Size"].unique()
data6=df["Bare Nuclei"].unique()
data7=df["Bland Chromatin"].unique()
data8=df["Normal Nucleoli"].unique()
data9=df["Mitoses"].unique()

In [16]:
location = 1.0
scale = 0.1

In [17]:
Laplacian_noise1 = np.random.laplace(location,scale, len(data1))
Laplacian_noise2 = np.random.laplace(location,scale, len(data2))
Laplacian_noise3 = np.random.laplace(location,scale, len(data3))
Laplacian_noise4 = np.random.laplace(location,scale, len(data4))
Laplacian_noise5 = np.random.laplace(location,scale, len(data5))
Laplacian_noise6 = np.random.laplace(location,scale, len(data6))
Laplacian_noise7 = np.random.laplace(location,scale, len(data7))
Laplacian_noise8 = np.random.laplace(location,scale, len(data8))
Laplacian_noise9 = np.random.laplace(location,scale, len(data9))
# print(Laplacian_noise)

In [18]:
noisydata1 = data1 + Laplacian_noise1
noisydata2 = data2 + Laplacian_noise2
noisydata3 = data3 + Laplacian_noise3
noisydata4 = data4 + Laplacian_noise4
noisydata5 = data5 + Laplacian_noise5
noisydata6 = data6 + Laplacian_noise6
noisydata7 = data7 + Laplacian_noise7
noisydata8 = data8 + Laplacian_noise8
noisydata9 = data9 + Laplacian_noise9
# noisydata

In [19]:
d1 = dict(zip(data1, noisydata1))
d2 = dict(zip(data2, noisydata2))
d3 = dict(zip(data3, noisydata3))
d4 = dict(zip(data4, noisydata4))
d5 = dict(zip(data5, noisydata5))
d6 = dict(zip(data6, noisydata6))
d7 = dict(zip(data7, noisydata7))
d8 = dict(zip(data8, noisydata8))
d9 = dict(zip(data9, noisydata9))

In [20]:
# df["noiceCF"] = df["Clump Thickness"].map(res)
# df["noiceCF"]
df["noice_Clump Thickness"]=df["Clump Thickness"].map(d1)
df["noice_Uniformity of Cell Size"]=df["Uniformity of Cell Size"].map(d2)
df["noice_Uniformity of Cell Shape"]=df["Uniformity of Cell Shape"].map(d3)
df["noice_Marginal Adhesion"]=df["Marginal Adhesion"].map(d4)
df["noice_Single Epithelial Cell Size"]=df["Single Epithelial Cell Size"].map(d5)
df["noice_Bare Nuclei"]=df["Bare Nuclei"].map(d6)
df["noice_Bland Chromatin"]=df["Bland Chromatin"].map(d7)
df["noice_Normal Nucleoli"]=df["Normal Nucleoli"].map(d8)
df["noice_Mitoses"]=df["Mitoses"].map(d9)

In [21]:
df=df.drop(["Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion","Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses"], axis=1)

     noice_Clump Thickness  ...  noice_Mitoses
0                 5.987621  ...       2.198131
1                 5.987621  ...       2.198131
2                 3.964995  ...       2.198131
3                 6.983850  ...       2.198131
4                 5.061381  ...       2.198131
..                     ...  ...            ...
694               3.964995  ...       2.198131
695               2.844824  ...       2.198131
696               5.987621  ...       3.046041
697               5.061381  ...       2.198131
698               5.061381  ...       2.198131

[699 rows x 9 columns]

In [22]:
df

     Clump Thickness  ...  noice_Mitoses
0                  5  ...       2.198131
1                  5  ...       2.198131
2                  3  ...       2.198131
3                  6  ...       2.198131
4                  4  ...       2.198131
..               ...  ...            ...
694                3  ...       2.198131
695                2  ...       2.198131
696                5  ...       3.046041
697                4  ...       2.198131
698                4  ...       2.198131

[699 rows x 18 columns]

## **BCWD data with classic exponential**

In [ ]:
# Library Declaration  
import numpy as np
import pandas as pd 
# Data Input
df = pd.read_table('breast-cancer-wisconsin.data', sep=',', names=["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size","Bare Nuclei", "Bland Chromatin", "Normal Nucleoli","Mitoses","Class"]) 
# print(df.head)

In [ ]:
# Data Cleaning
df["Bare Nuclei"][df["Bare Nuclei"]=='?']='0'
df["Bare Nuclei"] = df["Bare Nuclei"].astype(str).astype(int)
# df.info()
# pd.to_numeric(df["Bare Nuclei"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Data Cleaning
df=df.drop(["Sample code number"], axis = 1)
print(df.shape)

(699, 10)

In [ ]:
# Data Cleaning
def Class_value(Class): 
     if Class == 2: 
         return 1
     else: 
         return 0
  
df['Class'] = df['Class'].apply(Class_value) 
#df['Class'].head(10)

In [ ]:
sf=df
y = sf["Class"].astype(float).values.tolist()
# y

In [ ]:
df=df.drop(["Class"], axis = 1)

In [ ]:
import math
data1=df["Clump Thickness"].unique()
data2=df["Uniformity of Cell Size"].unique()
data3=df["Uniformity of Cell Shape"].unique()
data4=df["Marginal Adhesion"].unique()
data5=df["Single Epithelial Cell Size"].unique()
data6=df["Bare Nuclei"].unique()
data7=df["Bland Chromatin"].unique()
data8=df["Normal Nucleoli"].unique()
data9=df["Mitoses"].unique()

In [ ]:
Exponential_noise1 = np.random.exponential(1)
Exponential_noise2 = np.random.exponential(1)
Exponential_noise3 = np.random.exponential(1)
Exponential_noise4 = np.random.exponential(1)
Exponential_noise5 = np.random.exponential(1)
Exponential_noise6 = np.random.exponential(1)
Exponential_noise7 = np.random.exponential(1)
Exponential_noise8 = np.random.exponential(1)
Exponential_noise9 = np.random.exponential(1)

In [ ]:
# print(Exponential_noise2)

In [ ]:
noisydata1 = data1 + Exponential_noise1
noisydata2 = data2 + Exponential_noise2
noisydata3 = data3 + Exponential_noise3
noisydata4 = data4 + Exponential_noise4
noisydata5 = data5 + Exponential_noise5
noisydata6 = data6 + Exponential_noise6
noisydata7 = data7 + Exponential_noise7
noisydata8 = data8 + Exponential_noise8
noisydata9 = data9 + Exponential_noise9
# noisydata

In [ ]:
d1 = dict(zip(data1, noisydata1))
d2 = dict(zip(data2, noisydata2))
d3 = dict(zip(data3, noisydata3))
d4 = dict(zip(data4, noisydata4))
d5 = dict(zip(data5, noisydata5))
d6 = dict(zip(data6, noisydata6))
d7 = dict(zip(data7, noisydata7))
d8 = dict(zip(data8, noisydata8))
d9 = dict(zip(data9, noisydata9))

In [ ]:
# df["noiceCF"] = df["Clump Thickness"].map(res)
# df["noiceCF"]
df["noice_Clump Thickness"]=df["Clump Thickness"].map(d1)
df["noice_Uniformity of Cell Size"]=df["Uniformity of Cell Size"].map(d2)
df["noice_Uniformity of Cell Shape"]=df["Uniformity of Cell Shape"].map(d3)
df["noice_Marginal Adhesion"]=df["Marginal Adhesion"].map(d4)
df["noice_Single Epithelial Cell Size"]=df["Single Epithelial Cell Size"].map(d5)
df["noice_Bare Nuclei"]=df["Bare Nuclei"].map(d6)
df["noice_Bland Chromatin"]=df["Bland Chromatin"].map(d7)
df["noice_Normal Nucleoli"]=df["Normal Nucleoli"].map(d8)
df["noice_Mitoses"]=df["Mitoses"].map(d9)

In [ ]:
df=df.drop(["Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion","Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses"], axis=1)

     Clump Thickness  ...  noice_Mitoses
0                  5  ...       3.405462
1                  5  ...       3.405462
2                  3  ...       3.405462
3                  6  ...       3.405462
4                  4  ...       3.405462
..               ...  ...            ...
694                3  ...       3.405462
695                2  ...       3.405462
696                5  ...       4.405462
697                4  ...       3.405462
698                4  ...       3.405462

[699 rows x 18 columns]

In [ ]:
df

## **BCWD data with epsilon Laplace**

In [ ]:
# Library Declaration  
import numpy as np
import pandas as pd 
# Data Input
df = pd.read_table('breast-cancer-wisconsin.data', sep=',', names=["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size","Bare Nuclei", "Bland Chromatin", "Normal Nucleoli","Mitoses","Class"]) 
# print(df.head)

In [ ]:
# Data Cleaning
df["Bare Nuclei"][df["Bare Nuclei"]=='?']='0'
df["Bare Nuclei"] = df["Bare Nuclei"].astype(str).astype(int)
# df.info()
# pd.to_numeric(df["Bare Nuclei"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Data Cleaning
df=df.drop(["Sample code number"], axis = 1)
print(df.shape)

(699, 10)

In [ ]:
# Data Cleaning
def Class_value(Class): 
     if Class == 2: 
         return 1
     else: 
         return 0
  
df['Class'] = df['Class'].apply(Class_value) 
#df['Class'].head(10)

In [ ]:
sf=df
y = sf["Class"].astype(float).values.tolist()
# y

In [ ]:
df=df.drop(["Class"], axis = 1)

In [ ]:
# def Laplacian_func(eps):     
#  x = 0.01
#  mu = 0                    # mean
#  return ((eps/2.0) * np.exp(-abs(x - mu)*eps))

In [ ]:
def Laplacian_func(x,eps):
  return ((eps/2.0) * np.exp(-abs(x)*eps))

In [ ]:
# noise = Laplacian_func(0.1)
# noisydata = datacount + noise

In [ ]:
data1=df["Clump Thickness"].values
data2=df["Uniformity of Cell Size"].values
data3=df["Uniformity of Cell Shape"].values
data4=df["Marginal Adhesion"].values
data5=df["Single Epithelial Cell Size"].values
data6=df["Bare Nuclei"].values
data7=df["Bland Chromatin"].values
data8=df["Normal Nucleoli"].values
data9=df["Mitoses"].values

In [ ]:
ep=0.1
Laplacian_noise1 = Laplacian_func((df["Clump Thickness"].max()-df["Clump Thickness"].min()), ep)
Laplacian_noise2 = Laplacian_func((df["Uniformity of Cell Size"].max()-df["Uniformity of Cell Size"].min()), ep)
Laplacian_noise3 = Laplacian_func((df["Uniformity of Cell Shape"].max()-df["Uniformity of Cell Shape"].min()), ep)
Laplacian_noise4 = Laplacian_func((df["Marginal Adhesion"].max()-df["Marginal Adhesion"].min()), ep)
Laplacian_noise5 = Laplacian_func((df["Single Epithelial Cell Size"].max()-df["Single Epithelial Cell Size"].min()), ep)
Laplacian_noise6 = Laplacian_func((df["Bare Nuclei"].max()-df["Bare Nuclei"].min()), ep)
Laplacian_noise7 = Laplacian_func((df["Bland Chromatin"].max()-df["Bland Chromatin"].min()), ep)
Laplacian_noise8 = Laplacian_func((df["Normal Nucleoli"].max()-df["Normal Nucleoli"].min()), ep)
Laplacian_noise9 = Laplacian_func((df["Mitoses"].max()-df["Mitoses"].min()), ep)

In [ ]:
noisydata1 = data1 + Laplacian_noise1
noisydata2 = data2 + Laplacian_noise2
noisydata3 = data3 + Laplacian_noise3
noisydata4 = data4 + Laplacian_noise4
noisydata5 = data5 + Laplacian_noise5
noisydata6 = data6 + Laplacian_noise6
noisydata7 = data7 + Laplacian_noise7
noisydata8 = data8 + Laplacian_noise8
noisydata9 = data9 + Laplacian_noise9
# noisydata

In [ ]:

d1 = dict(zip(data1, noisydata1))
d2 = dict(zip(data2, noisydata2))
d3 = dict(zip(data3, noisydata3))
d4 = dict(zip(data4, noisydata4))
d5 = dict(zip(data5, noisydata5))
d6 = dict(zip(data6, noisydata6))
d7 = dict(zip(data7, noisydata7))
d8 = dict(zip(data8, noisydata8))
d9 = dict(zip(data9, noisydata9))

In [ ]:
# df["noiceCF"] = df["Clump Thickness"].map(res)
# df["noiceCF"]
df["noice_Clump Thickness"]=df["Clump Thickness"].map(d1)
df["noice_Uniformity of Cell Size"]=df["Uniformity of Cell Size"].map(d2)
df["noice_Uniformity of Cell Shape"]=df["Uniformity of Cell Shape"].map(d3)
df["noice_Marginal Adhesion"]=df["Marginal Adhesion"].map(d4)
df["noice_Single Epithelial Cell Size"]=df["Single Epithelial Cell Size"].map(d5)
df["noice_Bare Nuclei"]=df["Bare Nuclei"].map(d6)
df["noice_Bland Chromatin"]=df["Bland Chromatin"].map(d7)
df["noice_Normal Nucleoli"]=df["Normal Nucleoli"].map(d8)
df["noice_Mitoses"]=df["Mitoses"].map(d9)

In [ ]:
df=df.drop(["Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion","Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses"], axis=1)

     Clump Thickness  ...  noice_Mitoses
0                  5  ...       1.020328
1                  5  ...       1.020328
2                  3  ...       1.020328
3                  6  ...       1.020328
4                  4  ...       1.020328
..               ...  ...            ...
694                3  ...       1.020328
695                2  ...       1.020328
696                5  ...       2.020328
697                4  ...       1.020328
698                4  ...       1.020328

[699 rows x 18 columns]

In [ ]:
df

## **BCWD data with advance Gaussian**

In [25]:
# Library Declaration  
import numpy as np
import pandas as pd 
# Data Input
df = pd.read_table('breast-cancer-wisconsin.data', sep=',', names=["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size","Bare Nuclei", "Bland Chromatin", "Normal Nucleoli","Mitoses","Class"]) 
# print(df.head)

In [26]:
# Data Cleaning
df["Bare Nuclei"][df["Bare Nuclei"]=='?']='0'
df["Bare Nuclei"] = df["Bare Nuclei"].astype(str).astype(int)
# df.info()
# pd.to_numeric(df["Bare Nuclei"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
# Data Cleaning
df=df.drop(["Sample code number"], axis = 1)
print(df.shape)

(699, 10)

In [28]:
# Data Cleaning
def Class_value(Class): 
     if Class == 2: 
         return 1
     else: 
         return 0
  
df['Class'] = df['Class'].apply(Class_value) 
#df['Class'].head(10)

In [29]:
sf=df
y = sf["Class"].astype(float).values.tolist()
# y

In [30]:
df=df.drop(["Class"], axis = 1)

B. Balle and Y.-X. Wang. Improving the Gaussian Mechanism for Differential Privacy: Analytical Calibration and Optimal Denoising. International Conference on Machine Learning (ICML), 2018.

In [31]:
from math import exp, sqrt
from scipy.special import erf

def calibrateAnalyticGaussianMechanism(epsilon, delta, GS, tol = 1.e-12):
    """ Calibrate a Gaussian perturbation for differential privacy using the analytic Gaussian mechanism of [Balle and Wang, ICML'18]
    Arguments:
    epsilon : target epsilon (epsilon > 0)
    delta : target delta (0 < delta < 1)
    GS : upper bound on L2 global sensitivity (GS >= 0)
    tol : error tolerance for binary search (tol > 0)
    Output:
    sigma : standard deviation of Gaussian noise needed to achieve (epsilon,delta)-DP under global sensitivity GS
    """

    def Phi(t):
        return 0.5*(1.0 + erf(float(t)/sqrt(2.0)))

    def caseA(epsilon,s):
        return Phi(sqrt(epsilon*s)) - exp(epsilon)*Phi(-sqrt(epsilon*(s+2.0)))

    def caseB(epsilon,s):
        return Phi(-sqrt(epsilon*s)) - exp(epsilon)*Phi(-sqrt(epsilon*(s+2.0)))

    def doubling_trick(predicate_stop, s_inf, s_sup):
        while(not predicate_stop(s_sup)):
            s_inf = s_sup
            s_sup = 2.0*s_inf
        return s_inf, s_sup

    def binary_search(predicate_stop, predicate_left, s_inf, s_sup):
        s_mid = s_inf + (s_sup-s_inf)/2.0
        while(not predicate_stop(s_mid)):
            if (predicate_left(s_mid)):
                s_sup = s_mid
            else:
                s_inf = s_mid
            s_mid = s_inf + (s_sup-s_inf)/2.0
        return s_mid

    delta_thr = caseA(epsilon, 0.0)

    if (delta == delta_thr):
        alpha = 1.0

    else:
        if (delta > delta_thr):
            predicate_stop_DT = lambda s : caseA(epsilon, s) >= delta
            function_s_to_delta = lambda s : caseA(epsilon, s)
            predicate_left_BS = lambda s : function_s_to_delta(s) > delta
            function_s_to_alpha = lambda s : sqrt(1.0 + s/2.0) - sqrt(s/2.0)

        else:
            predicate_stop_DT = lambda s : caseB(epsilon, s) <= delta
            function_s_to_delta = lambda s : caseB(epsilon, s)
            predicate_left_BS = lambda s : function_s_to_delta(s) < delta
            function_s_to_alpha = lambda s : sqrt(1.0 + s/2.0) + sqrt(s/2.0)

        predicate_stop_BS = lambda s : abs(function_s_to_delta(s) - delta) <= tol

        s_inf, s_sup = doubling_trick(predicate_stop_DT, 0.0, 1.0)
        s_final = binary_search(predicate_stop_BS, predicate_left_BS, s_inf, s_sup)
        alpha = function_s_to_alpha(s_final)
        
    sigma = alpha*GS/sqrt(2.0*epsilon)

    return sigma

In [32]:
data1=df["Clump Thickness"].values
data2=df["Uniformity of Cell Size"].values
data3=df["Uniformity of Cell Shape"].values
data4=df["Marginal Adhesion"].values
data5=df["Single Epithelial Cell Size"].values
data6=df["Bare Nuclei"].values
data7=df["Bland Chromatin"].values
data8=df["Normal Nucleoli"].values
data9=df["Mitoses"].values

In [33]:
# sa=np.std(df["Clump Thickness"])/df["Clump Thickness"].mean()
# sa

In [35]:
ep=0.1
delta=0.5
# calibrateAnalyticGaussianMechanism(ep, delta, )
Laplacian_noise1 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Clump Thickness"])/df["Clump Thickness"].mean()))
Laplacian_noise2 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Uniformity of Cell Size"])/df["Uniformity of Cell Size"].mean()))
Laplacian_noise3 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Uniformity of Cell Shape"])/df["Uniformity of Cell Shape"].mean()))
Laplacian_noise4 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Marginal Adhesion"])/df["Marginal Adhesion"].mean()))
Laplacian_noise5 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Single Epithelial Cell Size"])/df["Single Epithelial Cell Size"].mean()))
Laplacian_noise6 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Bare Nuclei"])/df["Bare Nuclei"].mean()))
Laplacian_noise7 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Bland Chromatin"])/df["Bland Chromatin"].mean()))
Laplacian_noise8 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Normal Nucleoli"])/df["Normal Nucleoli"].mean()))
Laplacian_noise9 = calibrateAnalyticGaussianMechanism(ep, delta,(np.std(df["Mitoses"])/df["Mitoses"].mean()))

In [36]:
noisydata1 = data1 + Laplacian_noise1
noisydata2 = data2 + Laplacian_noise2
noisydata3 = data3 + Laplacian_noise3
noisydata4 = data4 + Laplacian_noise4
noisydata5 = data5 + Laplacian_noise5
noisydata6 = data6 + Laplacian_noise6
noisydata7 = data7 + Laplacian_noise7
noisydata8 = data8 + Laplacian_noise8
noisydata9 = data9 + Laplacian_noise9
# noisydata

In [37]:
d1 = dict(zip(data1, noisydata1))
d2 = dict(zip(data2, noisydata2))
d3 = dict(zip(data3, noisydata3))
d4 = dict(zip(data4, noisydata4))
d5 = dict(zip(data5, noisydata5))
d6 = dict(zip(data6, noisydata6))
d7 = dict(zip(data7, noisydata7))
d8 = dict(zip(data8, noisydata8))
d9 = dict(zip(data9, noisydata9))

In [38]:
# df["noiceCF"] = df["Clump Thickness"].map(res)
# df["noiceCF"]
df["noice_Clump Thickness"]=df["Clump Thickness"].map(d1)
df["noice_Uniformity of Cell Size"]=df["Uniformity of Cell Size"].map(d2)
df["noice_Uniformity of Cell Shape"]=df["Uniformity of Cell Shape"].map(d3)
df["noice_Marginal Adhesion"]=df["Marginal Adhesion"].map(d4)
df["noice_Single Epithelial Cell Size"]=df["Single Epithelial Cell Size"].map(d5)
df["noice_Bare Nuclei"]=df["Bare Nuclei"].map(d6)
df["noice_Bland Chromatin"]=df["Bland Chromatin"].map(d7)
df["noice_Normal Nucleoli"]=df["Normal Nucleoli"].map(d8)
df["noice_Mitoses"]=df["Mitoses"].map(d9)

In [39]:
df=df.drop(["Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion","Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses"], axis=1)

In [40]:
df

     noice_Clump Thickness  ...  noice_Mitoses
0                 5.446907  ...        1.75661
1                 5.446907  ...        1.75661
2                 3.446907  ...        1.75661
3                 6.446907  ...        1.75661
4                 4.446907  ...        1.75661
..                     ...  ...            ...
694               3.446907  ...        1.75661
695               2.446907  ...        1.75661
696               5.446907  ...        2.75661
697               4.446907  ...        1.75661
698               4.446907  ...        1.75661

[699 rows x 9 columns]